body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  opacity: 1;
  background-image: radial-gradient(
      #f491f5 1.9500000000000002px,
      transparent 1.9500000000000002px
    ),
    radial-gradient(#f491f5 1.9500000000000002px, #ffffff 1.9500000000000002px);
  background-size: 78px 78px;
  background-position: 0 0, 39px 39px;
}

.header {
  display: flex;
  margin-left: 3rem;
  margin-right: 3rem;
  background-image: url(assets/img/fondo-con-letras.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  height: 37rem;
  color: #ffffffd0;
}
.header-text {
  margin: auto 0;
  justify-content: center;
  text-align: center;
  color: #ffffffd0;
  font-family: "Ms Madi", cursive;
}

.navbar {
  background-color: #ffb6c1;
  border: #ffffff;
  border-style: solid;
  border-radius: 8px;
}

.about {
  display: flex;
  margin-top: 15px;
}
.text-about {
  padding: 2.8rem;
  border-style: dotted;
  border-width: 2px;
  border-color: #f491f5;
  font-size: 18px;
  text-shadow: 2px 1px 3px #ee8af0;
}

.img-rounded {
  display: flex;
  padding: 1.5rem;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
}

.cards {
  padding-top: 6rem;
}
.card-one {
  margin-top: 7px;
  width: 19rem;
}
.card-two {
  margin-top: 7px;
  width: 19rem;
}
.card-title {
  font-family: "Ms Madi", cursive;
  font-size: 22px;
}
.card-text {
  margin-top: 1rem;
  font-family: "Ms Madi", cursive;
  font-size: 16px;
}

.metpago {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.text-metpago {
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-align: center;
  text-shadow: 2px 1px 3px #ee8af0;
}
.img-arrow {
  margin: auto;
  height: 400px;
}
.img-medios-de-pago {
  display: flex;
  margin: 2rem auto;
  height: 550px;
  border-radius: 5%;
}

/* .footer {
  margin-top: 2rem;
  background-color: #150d1a;
} */
.footer_copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

#buttonUp {
  width: 50px;
  height: 50px;
  background: #eeea08;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  font-size: 20px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  border: 4px solid transparent;
  transition: all 500ms ease;
  /* transform: scale(0); */
}

#buttonUp:hover {
  transform: scale(1.1);
  border-color: rgba(255, 253, 144, 0.849);
}
